*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #4828dd;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (width <= 768px) {
    padding: 30px;
  }
}

.card {
  max-width: 914px;
  width: 100%;
  display: flex;
  align-items: center;

  @media (width <= 768px) {
    flex-direction: column;
  }

  &__left {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    min-height: 608px;
    max-width: 422px;
    width: 100%;
    background-color: #d36e95;
    padding: 20px 20px 30px;
    border-radius: 6px;
    box-shadow: 0 0 18px 0 rgba(#000, 0.4);

    @media (width <= 768px) {
      min-height: 304px;
      row-gap: 10px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  &__shoes {
    position: absolute;
    left: -65px;
    bottom: 16px;
    max-width: 460px;

    @media (width <= 768px) {
      max-width: 300px;
      bottom: 0;
      left: -70px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__shoes-btn {
    position: relative;
    border: none;
    position: absolute;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #4e2be9;
    box-shadow: 0 0 10px 0 rgba(#000, 0.5);
    transition: opacity 300ms ease;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      background-color: #fff;
    }

    &::before {
      width: 8px;
      height: 2px;
    }

    &::after {
      width: 2px;
      height: 8px;
    }

    &--heel {
      top: 60px;
      left: 120px;

      @media (width <= 768px) {
        top: 40px;
        left: 80px;
      }
    }

    &--sole {
      top: 210px;
      left: 200px;

      @media (width <= 768px) {
        top: 130px;
        left: 125px;
      }
    }

    &--material {
      top: 250px;
      left: 340px;

      @media (width <= 768px) {
        top: 164px;
        left: 230px;
      }
    }
  }

  &__logo {
    max-width: 40px;
  }

  &__back-title {
    font-weight: 700;
    font-size: 270px;
    text-align: center;
    color: #dc8fae;
    letter-spacing: 0.04em;
    line-height: 0.8;

    @media (width <= 1024px) {
      font-size: 175px;
    }

    @media (width <= 768px) {
      font-size: 120px;
    }
  }

  &__dots {
    position: relative;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    z-index: 10;
  }

  &__dot {
    border: none;
    padding: 0;
    width: 14px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(#fff, 0.6);
    transition: background-color 300ms ease;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        background-color: #fff;
      }
    }

    &--active {
      background-color: #fff;
    }

    @media (width <= 768px) {
      width: 10px;
    }
  }

  &__right {
    max-width: 492px;
    min-height: 540px;
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 0 18px 0 rgba(#000, 0.4);
    padding: 50px 40px;

    @media (width <= 1024px) {
      padding: 25px 20px;
    }

    @media (width <= 768px) {
      border-radius: 6px;
      min-height: auto;
    }

    @media (width <= 490px) {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 44px;
  }

  &__price {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 24px;

    span {
      font-size: 14px;
      font-weight: 500;
      color: #a8a7a7;
    }
  }

  &__text {
    letter-spacing: 0.02em;
    padding-bottom: 30px;

    @media (width <= 768px) {
      padding-bottom: 10px;
    }
  }

  &__options {
    display: flex;
    align-items: center;
    column-gap: 45px;
    user-select: none;

    @media (width <= 768px) {
      column-gap: 20px;
    }
  }

  &__options-title {
    font-size: 18px;
    color: #a8a7a7;
  }

  &__sizes {
    display: flex;
    align-items: center;
    column-gap: 28px;
    row-gap: 6px;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__size-btn {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    aspect-ratio: 1;
    border-radius: 20px;
    padding: 4px;
    border: 2px solid transparent;
    background-color: transparent;
    font-size: 20px;
    color: #a8a7a7;
    transition-property: color, border-color;
    transition-duration: 300ms;
    transition-timing-function: ease, ease-in-out;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        color: #000;
      }
    }

    &--active {
      border-color: #d36e95;
      pointer-events: none;
      color: #d36e95;

      @media (hover: hover) {
        &:hover {
          color: #d36e95;
        }
      }
    }
  }

  &__counter {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__counter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d36e95;
    background-color: transparent;
    border: none;
    transition: opacity 300ms ease;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }

    &--left {
      rotate: 180deg;
    }
  }

  &__value {
    width: 20px;
    font-size: 20px;
    font-variant: tabular-nums;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    min-width: 276px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    margin-top: 30px;
    padding: 20px 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border: none;
    background-color: #d65745;
    border-radius: 6px;
    user-select: none;
    box-shadow: 0 6px 20px 2px rgba(#d65745, 0.5);
    transition: translate 300ms ease;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        translate: 0 -3px;
      }
    }

    @media (width <= 768px) {
      min-width: auto;
    }
  }
}

.max-value {
  pointer-events: none;
  color: rgba(#a8a7a7, 0.7);
}
